<div class="container">
  <h1 class="align-content-center text-success">List UserName And RoleName</h1>
  <table class="table mt-3 table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Role Name</th>
      </tr>
    </thead>
    <tbody class="table-striped table-hover">
      <tr class="table-active" *ngFor="let row of userRole">
        <td>{{row.userName}}</td>
        <td>
          <select id="roleid" (change)="changeRole($event)">
            <option *ngFor="let item of row.listRoles" [selected]="item === row.role" >{{item}}</option>
          </select>
        </td>
        <td>
          <Button (click)="updateUserRole(row.userName)" class="btn btn-danger ml-2">SAVE</Button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
