<div class="container">
  <h1 class="align-content-center text-success">List UserName And RoleName</h1>
  <table class="table mt-3 table-bordered">
    <thead class="thead-dark">
      <tr>

        <th scope="col">User Name</th>
        <th scope="col">Role Name</th>
        <th scope="col">Test</th>
      </tr>
    </thead>
    <tbody class="table-striped table-hover">
      <tr class="table-active" *ngFor="let row of UserRole ">
        <td>{{row.userName}}</td>
        <td>{{row.role}}</td>
        <td>
          <select name="role" id="roleid" >

          </select>
        </td>
        <td>
          <Button (click)="updateUserRole(row)" class="btn btn-danger ml-2">SAVE</Button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
